@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
iframe#webpack-dev-server-client-overlay {  display: none !important;  }



*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#app {
  width: 100%;
  height: 100%;

  /* font-family: Arial, Helvetica, sans-serif; */
}

.resizable-x,
.resizable-y {
  display: flex;
  overflow: hidden;
}

.resizable-x {
  height: 100%;
}

/* .resizable-y {
  flex-direction: column;
} */

.resizer-x {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 1px;
}

.resizer-x {
  z-index: 2;
  cursor: col-resize;
}
.resizer-x::before,
.resizer-x::after {
  content: "";
  width: 2px;
  height: 16px;
  margin: 2px;
  background: lightgray;
}

/* .resizer-y {
  z-index: 1;
  cursor: row-resize;
  flex-direction: column;
}
.resizer-y::before,
.resizer-y::after {
  content: "";
  width: 16px;
  height: 2px;
  margin: 2px;
  background: lightgray;
} */

.div0,
.div1,
.div2 {
  overflow: hidden;
}

.div0 {
  /* background: dodgerblue; */
}

.div1 {
  /* background: pink; */
  min-width: 650px;
}

.div2 {
  /* background: gold; */
}

.div0 p,
.div1 p,
.div2 p {
  /* font-size: 2rem; */
  margin-left: 1em;
  /* text-transform: uppercase; */
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  /* overflow: hidden; */
}
